
#core-concepts ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  #core-concepts li {
    width: 15rem;
    text-align: center;
    /* background-color: #ffffff08; */
    border-radius: 20px;
    padding: .7rem;
  
  }
  
  #core-concepts li img {
    height: 4rem;
    width: 6rem;
    object-fit: cover;
  }
  
  #core-concepts li h3 {
    margin: 0.5rem 0;
  }
  
  #core-concepts li p {
    font-size: 0.9rem;
  }