:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  padding: 2rem 16rem;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#core-concepts {
  padding: 2rem;
  border-radius: 6px;
  background-color: #15071d;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
  list-style: none;
}
img {
  width: 100px;
}